@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: rgb(245, 245, 245);
}

.car-info-wrapper {
    margin: 0 2rem;

    > .car-title {
        margin: 1rem 0;
    }
}

.car-price {
    font-size: 3rem;
}

.communications {
    border: 0.1rem solid black;
}

.communications .comments {
    padding: 2rem;
    background-color: gainsboro;
}

.communications .comment-date {
    padding: 0.5rem 0;
    color: white;
    font-weight: bold;
    font-style: italic;
    background-color: rgb(154, 139, 139);
}