@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: rgb(245, 245, 245);
}

.flash-successful {
    @apply bg-green-600 text-white text-center font-bold p-3;
}

.flash-info {
    @apply bg-indigo-600 text-white text-center font-bold p-3;
}

.car-info-wrapper {
    margin: 0 2rem;

    .car-title {
        @apply text-2xl font-bold underline inline-block my-4;
    }

    .carimage {
        margin-bottom: 1rem;
    }

    .information {
        margin-bottom: 1.5rem;

        .-link {
            @apply bg-sky-200 px-1;
        }
    }

    > .moreinfo {
        color: black;
        font-weight: 600;
        font-style: italic;
        text-decoration: underline;
        letter-spacing: 1rem;
        text-align: center;
    }

    > .moreinfo:hover {
        text-shadow: 0.1rem 0.1rem 0.1rem grey;
    }
}

.car-price {
    font-size: 3rem;
}

.communications {
    margin-top: 1rem;
    border: 0.1rem solid black;
}

.communications .comments {
    padding: 2rem;
    background-color: gainsboro;
}

.communications .comment-date {
    padding: 0.5rem 0;
    padding-left: 0.5rem;
    color: white;
    font-weight: bold;
    font-style: italic;
    background-color: rgb(154, 139, 139);
}

/* fixed css */

.order-by-buttons {
    @apply flex justify-end mt-5;

    > .ascending {
        @apply mr-2 p-2 hover:bg-sky-200 hover:rounded-3xl box-content;
    }

    > .descending {
        @apply w-6 h-6 p-2 mr-2 hover:bg-sky-200 hover:rounded-3xl box-content;
    }
}

.form_wrapper {
    @apply block text-center;

    > .formname {
        @apply text-xl text-center p-4 uppercase;
    }

    .formblock { /* This should be an element (by RSCSS) */
        @apply flex flex-col drop-shadow-lg;

        .noerror {
            @apply flex w-full justify-center;
        }

        .error {
            @apply flex items-center justify-center  mb-[1rem];

            > .-errortext {
                @apply w-5/12 bg-yellow-200 text-red-500 italic p-1;
            }
        }

        & .-label {
            @apply align-text-top text-base text-left text-gray-700 font-medium mr-1 w-1/6;
        }
        
        & .-widget {
            @apply shadow-sm border-gray-300 rounded-md border p-2 mt-1 mb-2 w-1/4;
        }

        & .-submit {
            @apply shadow-sm border-gray-300 hover:bg-slate-50 rounded-md border p-4 mt-4 mb-8 w-5/12;
        }
    }

    .sectiontitle {
        @apply flex items-center justify-center;

        & .-title {
            @apply text-lg text-gray-700 font-semibold text-center tracking-wider my-8 py-4 border-y-2 border-gray-300 shadow-lg w-5/12;
        }
    }
}

.buttonholder {
    @apply flex justify-end;

    .addbutton {
        @apply bg-sky-500 hover:bg-sky-700 text-white font-bold py-2 px-4 rounded-full mt-4;
    }
}

.user-info-wrapper {
    @apply flex grow justify-end;
    

    > .userinfo {
        @apply bg-gray-200 lg:mr-4 lg:py-1 lg:px-2 hover:bg-sky-200;
    }
}