@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: rgb(245, 245, 245);
}

.car-info-wrapper {
    margin: 0 2rem;

    .car-title {
        margin: 1rem 0;
    }

    .carimage {
        margin-bottom: 1rem;
    }

    .information {
        margin-bottom: 1.5rem;
    }

    > .moreinfo {
        color: black;
        font-weight: 600;
        font-style: italic;
        text-decoration: underline;
        letter-spacing: 1rem;
        text-align: center;
    }

    > .moreinfo:hover {
        text-shadow: 0.1rem 0.1rem 0.1rem grey;
    }
}

.car-price {
    font-size: 3rem;
}

.communications {
    margin-top: 1rem;
    border: 0.1rem solid black;
}

.communications .comments {
    padding: 2rem;
    background-color: gainsboro;
}

.communications .comment-date {
    padding: 0.5rem 0;
    padding-left: 0.5rem;
    color: white;
    font-weight: bold;
    font-style: italic;
    background-color: rgb(154, 139, 139);
}

/* fixed css */

.form_wrapper {
    @apply block text-center;

    > .formname {
        @apply text-xl text-center p-4 uppercase;
    }

    .formblock { /* This should be an element (by RSCSS) */
        @apply flex flex-col drop-shadow-lg;

        .noerror {
            @apply flex w-full justify-center;
        }

        .error {
            @apply flex items-center justify-center  mb-[1rem];

            > .-errortext {
                @apply w-5/12 bg-yellow-200 text-red-500 italic p-1;
            }
        }

        & .-label {
            @apply align-text-top text-base text-left text-gray-700 font-medium mr-1 w-1/6;
        }
        
        & .-widget {
            @apply shadow-sm border-gray-300 rounded-md border p-2 mt-1 mb-2 w-1/4;
        }

        & .-submit {
            @apply shadow-sm border-gray-300 hover:bg-slate-50 rounded-md border p-4 mt-4 mb-8 w-5/12;
        }
    }

    .sectiontitle {
        @apply flex items-center justify-center;

        & .-title {
            @apply text-lg text-gray-700 font-semibold text-center tracking-wider my-8 py-4 border-y-2 border-gray-300 shadow-lg w-5/12;
        }
    }
}