{% extends 'base.html.twig' %}

{% block title %}404 Admin{% endblock %}

{% block navbar %}{% endblock %}

{% block body %}

    <div class="text-center">
        <h1 class="text-6xl text-blue-900 mt-32">404 Admin Error Page</h1>

        <p class="mb-4 ps-2 lg:mb-0 lg:pe-1 lg:ps-0 text-3xl mt-8">
            <a class="p-0 text-black/60 transition duration-200 hover:text-black/80 hover:ease-in-out focus:text-black/80 active:text-black/80 motion-reduce:transition-none dark:text-white/60 dark:hover:text-white/80 dark:focus:text-white/80 dark:active:text-white/80 lg:px-2"
            href="{{ path('app_cars_index') }}"
            >Back to Home Page</a>
        </p>
    </div>
    
{% endblock %}
