{% set message_types = [
    'edit-success', 
    'new-success', 
    'registration-info', 
    'registration-success', 
    'delete-success', 
    'delete-failed',
    'edit-failed', 
] %}

{% set fail_messages = [] %}
{% set success_messages = [] %}
{% set info_messages = [] %}
{% for type in message_types %}
    {% if 'failed' in type %}
        {% set fail_messages = fail_messages | merge(app.flashes(type)) %}
    {% elseif 'success' in type %}
        {% set success_messages = success_messages | merge(app.flashes(type)) %}
    {% elseif 'info' in type %}
        {% set info_messages = info_messages | merge(app.flashes(type)) %}
    {% endif %}
    
{% endfor %}

{% for message in success_messages %}
    <div class="flash-successful">{{ message }}</div>
{% endfor %}

{% for message in fail_messages %}
    <div class="flash-error">{{ message }}</div>
{% endfor %}

{% for message in info_messages %}
    <div class="flash-info">{{ message }}</div>
{% endfor %}